html {
  font-family: OpenSans-Regular;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.icon-info {
  font-style: normal; /* Substitua por um ícone real se estiver usando uma fonte de ícones */
  padding-left: 5px;
}

.u-container-layout-4 {
  display: flex; /* Habilita Flexbox */
  flex-direction: column; /* Organiza as children em colunas */
  width: 100%;
  max-width: none;
}

.parte-superior {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center; /* Ocupa toda a largura */
}

.parte-inferior-esquerda{
  text-align: center;
}

.parte-inferior-direita{
  text-align: center;
}

.parte-inferior-esquerda, .parte-inferior-direita {
  width: 50%; /* Cada uma ocupa metade da largura */
  /* Estilize conforme necessário */
}

body .u-tabs .u-tab-item a {
  background-color: #ff96d5 !important;
  color: white !important;
}

body .u-tabs .u-tab-item a.active {
  background-color: #C9318B !important;
}

.u-active-palette-1-base.u-button-style.u-grey-5.u-radius-10.u-tab-link.u-tab-link-2.active,
.u-active-palette-1-base.u-button-style.u-grey-5.u-radius-10.u-tab-link.active {
  background-color: #C9318B !important;
}

.u-logo-container {
  display: flex; /* Usa flexbox para alinhamento */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  background-image: url('images/default-logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* ou 'contain' se quiser ver toda a imagem */
  opacity: 0.1; /* Ajuste para a transparência desejada do fundo */
}

.u-logo-container .u-logo-image {
  width: 40px; /* Define a largura da imagem do logo */
  height: 40px; /* Define a altura da imagem do logo */
  margin-right: 10px; /* Adiciona um espaço entre o logo e o texto */
}

.u-logo-container .u-logo-text {
  font-size: 1.5em; /* Ajuste o tamanho da fonte conforme necessário */
  color: #000; /* Ajuste a cor do texto conforme necessário */
}
body {
  background-image: url('images/fundobranco.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #fde1fc !important;
}

input[type="number"] {
  width: 15% ; 
  padding: 10px ; 
  margin: 5px 0 ; 

  border: 2px solid #ca71ee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

  font-size: 1em; 
  color: #333; 
}


input[type="number"]:focus {
  border-color: #ca71ee; 
  box-shadow: 0 0 8px rgba(136, 170, 221, 0.6); 
  outline: none; 
}

input[type="outro"] {
  width: 80px;
  height: 30px; /* Ajuste o valor conforme necessário */
  padding: 10px ; 
  margin: 5px 0 ; 
  text-align: center;

  border: 2px solid #ca71ee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

  font-size: 1em; 
  color: #333; 
}


.tabelas {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: flex-start; /* Centraliza verticalmente (opcional) */
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço suficiente */
  gap: 20px; /* Espaçamento entre os itens flexíveis */
}

.tabela-interna td {
  width: 120px;
}

.tabela-cenarios {
  flex: 0 0 auto;                  /* Permite que as tabelas cresçam e ocupem espaço disponível */
  width: calc(50% - 20px); /* Define uma largura máxima para cada tabela, considerando o gap */
}




.input-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 0; /* Ajuste conforme necessário */
}

.input-container .label {
  flex-grow: 1;
}

.input-container .label::after {
  content: '';
  display: block;
  margin-left: 8px;
  flex-grow: 1;
  border-bottom: 1px dotted #000; /* Cria a linha de pontos */
}

.input-container input, 
.input-container .value-display, 
.input-container .icon-info {
  position: relative;
  z-index: 1; /* Garante que o input, cifrão e ícone fiquem acima dos pontos */
}

/* Ajusta o espaçamento e a ordem dos elementos */
.input-container input {
  order: 2;
  margin-right: 8px; /* Espaçamento entre o input e o cifrão/porcentagem */
}


.icon-info,
.icon-info2,
.icon-info3,
.icon-info4,
.icon-info5 {
  order: 4;
}
.icon-info {
  margin-left: -5px; /* Diminui o espaço entre o ícone e o input */
}

.tooltip-message,
.tooltip-message2,
.tooltip-message3,
.tooltip-message4,
.tooltip-message5 {
  background: #ffffff;
}
.indice-tabela {
  font-family: OpenSans-Regular;
  font-size: 15px;
  background-color: #fdbaf8;
}

.legenda {
  display: flex;
  align-items: left; /* Centraliza os itens horizontalmente */
  list-style: none; /* Remove estilos padrão de lista */
  padding: 0; /* Remove padding padrão */
  margin: 20px 0; /* Adiciona espaço antes e depois da legenda */
  margin-top: -40px;
}
.titulo {
  margin-top: -20;
}
.titulo2 {
  text-align: left;
}
.legenda li {
  margin: 5px 0;
  font-size: 9px;
}
.legenda .color-box {
  width: 10px;
  height: 10px;
  margin-right: 1px;
  display: inline-block;
}
/* Substitua abaixo com as cores correspondentes ao seu gráfico */
.green { background-color: #8BC34A;}
.blue { background-color: #2196F3;}
.red { background-color: #F44336;}
.orange { background-color: #FFC107;}

.campo-container {
  font-family: OpenSans-Regular;
  font-size: 15px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 0;
}

.campo-container .label {
  flex-grow: 1;
  white-space: nowrap; /* Previne que o rótulo quebre a linha */
}

.campo-container .label::after {
  content: '';
  display: block;
  flex-grow: 1;
  border-bottom: 1px dotted #000; /* Cria a linha de pontos */
  margin: 0 8px; /* Espaço entre o rótulo e os pontos */
}

.campo-container strong {
  margin-right: 8px; /* Espaço entre os pontos e o valor */
}

.campo-estilizado {
  /* seus estilos existentes para campo-estilizado */
  flex-shrink: 0; /* Previne que o campo encolha */
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative
}

table * {
  position: relative
}

table td,
table th {
  padding-left: 8px
}

table thead tr {  
  font-family: OpenSans-Regular;
  font-size: 15px;
  height: 20px;
  background: #dca2f7
}


table tbody tr {
  height: 50px
}

table tbody tr:last-child {
  border: 0
}

table td,
table th {
  text-align: left
}

table td.l,
table th.l {
  text-align: right
}

table td.c,
table th.c {
  text-align: center
}

table td.r,
table th.r {
  text-align: center
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: rgb(8, 8, 8);
  line-height: 1.2;
  font-weight: unset
}

.container-lucro {
  display: flex;
  justify-content: space-between; /* Isso empurrará o .valor-lucro para a direita */
  align-items: center;
  width: 100%; /* Isso faz com que o contêiner preencha toda a célula da tabela */
}

.textos-lucro p {
  margin: 0; /* Isso garante que não haja espaço entre os elementos <p> */
}

.valor-lucro {
  font-size: 50px; /* Tamanho maior para o valor */
  /* Se você precisar que o .valor-lucro esteja mais à direita, você pode adicionar 'margin-left: auto;' */
  margin-left: auto; /* Isso empurrará o .valor-lucro para a extrema direita dentro do .container-lucro */
}



.tabela-cenarios {
  order: 2; /* As tabelas de cenários vêm depois da .parte-superior */
}

/* Media Queries */

/* Telas menores que 768px (tablets) */
@media (max-width: 768px) {
  .tabela-cenarios {
    width: 100%; /* Ajusta a largura para ocupar toda a largura disponível */
  }

  .campo-container,
  .input-container {
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: flex-start; /* Alinha itens à esquerda */
  }

  .campo-container .label,
  .input-container .label {
    width: 100%; /* Faz o rótulo ocupar toda a largura */
  }
  
  .tabelas {
    flex-direction: column;
  }

  .parte-superior {
    width: 100%; /* Ocupa toda a largura em telas menores */
    order: 0; /* Isso garante que a .parte-superior sempre fique no topo */
  }
}

/* Telas menores que 480px (smartphones) */
@media (max-width: 480px) {
  .campo-container,
  .input-container {
    padding: 4px 0; /* Reduz o espaçamento para melhor ajuste */
  }

  input[type="number"],
  input[type="outro"] {
    width: 100%; /* Faz com que os inputs ocupem a largura total */
  }

  .tabela-cenarios {
    flex-direction: column;
  }

  .parte-superior {
    align-items: center; /* Centraliza os itens na vertical */
  }
}